# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
*.env

# Virtualenv
venv/
ENV/
env/
.venv/
env.bak/
venv.bak/

# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/

# Mac OS
.DS_Store

# Docker
*.env
*.pid
*.log
docker-compose.override.yml
